@charset "UTF-8";
.base{
    max-width: 768px;
    min-width: 320px;
    background-color: #f5f5f5;
    height: 2000px;
    margin: 0 auto;
    width: 100%;
    /*position: relative;*/
    /*text-align: center;*/
}

/*头部信息*/
.head{
    width: 100%;
    height: 36px;
    background-color: rgba(233,35,34,0);
    position: fixed;
    max-width: 768px;
    min-width: 320px;
    padding: 0 70px;
    z-index: 1;
}
.head>.logo{
    width: 54px;
    height: 25px;
    background: url('../images/sprites.png') 0px -107px;
    background-size: 200px 200px;
    display:block;
    position: absolute;
    left: 5px;
    top: 4px;

}
.head>.form{
    width: 100%;
    height: 30px;
}
.head>.form>input{
    width: 100%;
    height: 100%;
    margin-top: 3px;
    border-radius: 15px;
    padding-left: 35px;
}
.head>.form>span{
    width: 20px;
    height: 24px;
    background: url("../images/sprites.png") no-repeat -59px -107px/200px 200px;
    position: absolute;
    top:7px;
    left: 76px;
}
.head>.sure{
   position: absolute;
    right: 0px;
    top: 0px;
    width: 64px;
    height:36px;
    font-size: 16px;
    color: #fff;
    line-height:36px ;
    text-align: center;
}

/*轮播图部分开始*/
.banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.banner>ul{
    width: 1000%;
    -webkit-transform: translate(-10%);
    transform: translate(-10%);
}
.banner>ul>li{
    width: 10%;
    float: left;
}
.banner>ul>li>a{
    width: 100%;
    display: block;
}
.banner>ul>li>a>img{
    width: 100%;
}

/*圆圈开始*/
.banner>ol{
    width: 136px;
    position: absolute;
    bottom: 7px;
    left:50%;
    margin-left:-68px;
}
.banner>ol>li{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    margin-left: 8px;

}
.banner>ol>li:first-of-type{
    margin-left: 0px;

}
.banner>ol>li.backcolor{
    background-color: #fff;
}

/*商品分类比分开始*/
.nav{
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
}
.nav>ul{
    width: 100%;
}
.nav>ul>li{
    float: left;
    width: 25%;
    text-align: center;
}
.nav>ul>li>a{
    width: 100%;
    display: block;
}
.nav>ul>li>a>img{
    width: 40px;
    height: 40px;
}
.nav>ul>li>a>p{
    font-size: 12px;
    margin: 10px;
}


/*详细商品类*/
.product{
    width: 100%;
}
.product>section{
    width: 100%;
    /*height: 300px;*/
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin-top: 10px;
    box-shadow: 1px 1px 1px #e0e0e0;
}
.pro_one>.pro_top{
    width: 100%;
    height: 32px;
    /*border-bottom:1px solid #e0e0e0;*/
}
.pro_one>.pro_top>.pro_left>span{
    background: url("../images/seckill-icon.png") no-repeat;
    background-size:17px 22px;
    height: 22px;
    width: 17px;
    display: block;
    margin: 5px 0 0 8px;
}
.pro_one>.pro_top>.pro_left>p{
    color: red;
    line-height: 32px;
    margin-left: 10px;
}
.pro_one>.pro_top>.pro_left>ul{
    margin: 8px 0 0 15px;
}
.pro_one>.pro_top>.pro_left>ul>li{
    float: left;
    width: 15px;
    background-color: #000;
    color: #fff;
    line-height:15px ;
    text-align: center;
    margin-left: 5px;
    height: 15px;

}
.pro_one>.pro_top>.pro_left>ul>li:nth-child(3n){
    background-color: #fff;
    color: black;
    width: 5px;
}
.pro_one>.pro_top>.pro_right{
    float: right;
    line-height: 32px;
}
.pro_one>.pro_bottom{
    width: 100%;
}
.pro_one>.pro_bottom>ul{
    width: 100%;
    text-align: center;
    padding-top: 25px;
}
.pro_one>.pro_bottom>ul>li{
    float: left;
    width: 33.33%;
}
.pro_one>.pro_bottom>ul>li>a{
    width: 100%;
    display: block;
    border-right: 1px solid #e0e0e0;
}
.pro_one>.pro_bottom>ul>li:nth-child(3)>a{
    border-right:0 none;
}
.pro_one>.pro_bottom>ul>li>a>img{
    width: 60%;
    display: block;
    margin: 0 auto;
}
.pro_one>.pro_bottom>ul>li p{
    margin-top: 5px;
}
.pro_one>.pro_bottom>ul>li p:first-of-type{
    color: red;
}
.pro_one>.pro_bottom>ul>li p:nth-child(3){
   text-decoration: line-through;
    margin-bottom: 10px;
}
.pro_two>.title,.pro_three>.title{
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}
.pro_two h2,.pro_three h2{
    height: 32px;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    margin-left: 20px;
}
.pro_two h2:before,.pro_three h2:before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 15px;
    background-color: red;
    position: absolute;
    top: 8px;
    left: 12Px;
}
.pro_two>a{
    width: 50%;
}
.pro_two>a>img{
    width: 100%;
}