@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    /*去掉轻敲击的高亮显示效果*/
    -webkit-tap-highlight-color:transparent;
    box-sizing: border-box;
}
body{
    /*设置字体样式   sans-serif是手机的一种字体样式*/
    font: 400 14px "microsoft YaHei",sans-serif;
    color: #333;
}
img,input{
    border: 0 none;
    vertical-align: bottom;
    outline: none;
    -webkit-appearance: none;
}
a{
    color:#333;
    text-decoration: none;
}
a:hover{
    color: #333;
}
ul,ol{
    list-style: none;
}

.clearfix:before,.clearfix:after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.r_border{
    border-right: 1px solid #e0e0e0;
}
.b_border{
    border-bottom:1px solid #e0e0e0 ;
}
.l_border{
    border-left:1px solid #e0e0e0 ;
}